<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/contents/css/adminHome.css}">
</head>
<body>

<div class="text-light bg-dark">
    <div class="tripApplication">
        <span style="cursor: pointer" onclick="adminHome()">Trip Application</span>
    </div>
    <div class="loggedUser">
        <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
        <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
    </div>
</div>
<br>
<br>
<div class="smallPanel text-center">
    <a class="btn btn-primary" href="/user/create">&nbsp;&nbsp;&nbsp;Create new user&nbsp;&nbsp;&nbsp;</a>
    <a style="margin-top: 75px" class="btn btn-primary" href="/trip/manage">Manage applications</a>
</div>


</body>
<script th:src="@{/scripts/adminHome.js}"></script>
</html>