<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" th:href="@{/contents/css/createUser.css}">
</head>
<body>
<div class="text-light bg-dark">
  <div class="tripApplication" onclick="adminHome()">
    <span style="cursor: pointer" onclick="adminHome()">Trip Application</span>
  </div>
  <div class="loggedUser">
    <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
    <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
  </div>
</div>
<div class="text-center mb-3 mt-4 userDetails">
  User details
</div>
<div class="container border border-success">
  <div class="row pl-5 ml-5 mb-3">
    <div class="col">
      <span class="userStaticProperty required"><b>First name:</b></span></br>
      <input class="form-control" maxlength="30" id="firstName" autocomplete="off">
    </div>
    <div class="col ml-5 pl-5">
      <span class="userStaticProperty required"><b>Last name:</b></span></br>
      <input class="form-control" maxlength="30" id="lastName" autocomplete="off">
    </div>
  </div>
  <div class="row pl-5 ml-5 mb-3">
    <div class="col">
      <span class="userStaticProperty required"><b>Email:</b></span></br>
      <input  class="form-control" type="text" id="email" maxlength="30" autocomplete="off">
    </div>
    <div class="col ml-5 pl-5">
      <span class="userStaticProperty required"><b>Password:</b></span></br>
      <input  class="form-control" type="password" id="password" maxlength="30" autocomplete="off">
    </div>
  </div>
  <div class="row pl-5 ml-5 mb-3">
    <div class="col">
      <span class="userStaticProperty required"><b>Birthday:</b></span></br>
      <input  class="form-control datepicker" onkeydown="return false"  type="text" id="birthday" autocomplete="off">
    </div>
    <div class="col ml-5 pl-5">

    </div>
  </div>
</div>
</br>
<div class="text-center">
  <button class="btn btn-outline-success" type="button" onclick="createUser()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="btnText">Create User</span>
  </button>
</div>
<br>
<div id="error" class="text-center" style="color:red;">
</div>



</br>

<div class="footer">

</div>
<div class="modal fade" id="userCreationConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flightTitleDeleteModal">User created</h5>
        <button type="button closeModal" class="close" data-dismiss="modal"  aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalBody">
        User created successfully!
      </div>
      <div class="modal-footer text-center">
       <button class="btn btn-success closeModal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/scripts/createUser.js}"></script>
</html>