
.header{
    display: inline;
}

.tripApplication{
    text-align:center;
    font-family:Brush Script MT, cursive ;
    font-size:40px;
    letter-spacing:10px;
}

.loggedUser{
    float: right;
    margin-top: -54px;
    margin-right: 15px;
}

body {
    color: #4e4e4e;
    background: #e2e2e2;
    font-family: 'Roboto', sans-serif;
}
.smallPanel {
    width: 380px;
    margin: 0 auto;
}
.smallPanel {
    color: #7a7a7a;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 130px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}