

.tripApplication{
    text-align:center;
    font-family:Brush Script MT, cursive ;
    font-size:40px;
    letter-spacing:10px;
}

.loggedUser{
    float: right;
    margin-top: -54px;
    margin-right: 15px;
}

.userDetails{
    font-family: Impact, fantasy;
    font-size: 30px;
}
.userStaticProperty{
    font-family: "Times New Roman";
    font-size: 20px;
}

.required::after{
    content: '*';
    color: red;
}
.table-condensed {
    width: 250px;
    height:240px;
}