.CREATED {
    color: gray;
}

.WAITING.FOR.APPROVAL {
    color: orange;
}

.APPROVED {
    color: lawngreen;
}

.DISAPPROVED {
    color: red;
}

td {
    cursor: pointer;
}
.header{
    display: inline;
}

.tripApplication{
    text-align:center;
    font-family:Brush Script MT, cursive ;
    font-size:40px;
    letter-spacing:10px;
}

.loggedUser{
    float: right;
    margin-top: -54px;
    margin-right: 15px;
}