<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Trip</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" th:href="@{/contents/css/userTripCreate.css}">
    <style>
        .required::after{
            content: '*';
            color: red;
        }
        .table-condensed {
            width: 250px;
            height:240px;
        }
    </style>
</head>
<body>
<div class="text-light bg-dark">
    <div class="tripApplication" onclick="userHome()">
        <span style="cursor: pointer" onclick="userHome()">Trip Application</span>
    </div>
    <div class="loggedUser">
        <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
        <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
    </div>
</div>
<div class="text-center mb-3 mt-4 tripDetails">
    Trip details
</div>
<div class="container border border-success">
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty required"><b>Description:</b></span></br>
            <textarea class="form-control" maxlength="300" id="tripDescription" autocomplete="off"></textarea>
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty required"><b>Reason:</b></span></br>
            <select  class="form-control" id="tripReason">
                <option value="-1">--Choose--</option>
                <option th:each="reason : ${reasonList}" th:value="${reason.getId()}" th:text="${reason.getDescription()}"></option>
            </select>
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty required"><b>From:</b></span></br>
            <input  class="form-control" type="text" id="tripFrom" maxlength="30" autocomplete="off">
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty required"><b>To</b></span></br>
            <input  class="form-control" type="text" id="tripTo" maxlength="30" autocomplete="off">
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty required"><b>Departure date:</b></span></br>
            <input  class="form-control datepicker" onkeydown="return false"  type="text" id="tripDeparture" autocomplete="off">
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty required"><b>Arrival date:</b></span></br>
            <input  class="form-control datepicker" onkeydown="return false"  type="text" id="tripArrival" autocomplete="off">
        </div>
    </div>
</div>
</br>
<div class="text-center">
    <button class="btn btn-outline-success" type="button" onclick="createTrip()">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="btnText">Create Trip</span>
    </button>
</div>
<br>
<div id="error" class="text-center" style="color:red;">
</div>



</br>

<div class="footer">

</div>
</body>
<script th:src="@{/scripts/userTripCreate.js}"></script>
</html>