<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Details</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" th:href="@{/contents/css/userTripDetails.css}">
</head>
<body>
<div class="text-light bg-dark">
    <div class="tripApplication" onclick="userHome()">
        <span style="cursor: pointer" onclick="userHome()">Trip Application</span>
    </div>
    <div class="loggedUser">
        <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
        <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
    </div>
</div>
<div class="text-center mb-3 mt-4 tripDetails">
    Trip details
</div>
<div class="container border border-success">
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty"><b>Description</b></span></br>
            <span th:text="${trip.getDescription()}"></span>
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty"><b>Reason</b></span></br>
            <span th:text="${trip.getReason().getDescription()}"></span>
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty"><b>From</b></span></br>
            <span th:text="${trip.getFrom()}"></span>
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty"><b>To</b></span></br>
            <span th:text="${trip.getTo()}"></span>
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty"><b>Departure</b></span></br>
            <span th:text="${trip.getDeparture()}"></span>
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty"><b>Arrival</b></span></br>
            <span th:text="${trip.getArrival()}"></span>
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty"><b>Status</b></span></br>
            <span th:text="${trip.getStatus()}" id="tripStatus"></span>
        </div>
        <div class="col ml-5 pl-5">
            <span th:if="${trip.getStatus()=='CREATED'}"><button class="btn btn-primary" th:onclick="|editTrip('${trip.getId()}')|">&nbsp;Edit&nbsp;</button></span>
            <span><button class="btn btn-danger" th:onclick="|openDeleteModal('${trip.getId()}')|">Delete</button></span>
        </div>
    </div>
</div>


<div class="container" th:if="${trip.getFlights().isEmpty() && trip.getStatus()=='APPROVED'}">
    <div class="text-center mb-3 mt-4 tripDetails">
        Trip Flights
    </div>
    <div class="text-center">
        You have no flights for this trip
    </div>
</div>


<div class="container px-0" th:if="${!trip.getFlights().isEmpty()}">
    <div class="text-center mb-3 mt-4 tripDetails">
        Trip Flights
    </div>
    <div>
        <table class="table">
            <thead class="bg-success text-white">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${trip.getFlights()}">
                <td th:text="${flight.getFrom()}"/>
                <td th:text="${flight.getTo()}"/>
                <td th:text="${flight.getDeparture()}"/>
                <td th:text="${flight.getArrival()}"/>
                <td><i class="fa fa-trash" aria-hidden="true" style="cursor: pointer" th:onclick="|openFlightDeleteModal('${flight.getId()}')|"></i></td>
            </tr>
            </tbody>


        </table>
    </div>

</div>

<div th:if="${trip.getStatus()=='APPROVED'}">
    </br>
    <div class="text-center">
        <a th:href="'/flight/create?tripId='+${trip.getId()}"  class="btn btn-outline-primary">Add flight</a>
    </div>
</div>

<div th:if="${trip.getStatus()=='CREATED'}">
    </br>
    <div class="text-center">
        <button class="btn btn-outline-primary" th:onclick="|sendForApproval('${trip.getId()}')|">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="btnText">Send for approval</span>
        </button>
    </div>
</div>
</br>

<div class="footer">

</div>

<div class="modal fade" id="tripDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tripTitleDeleteModal">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal('tripDeleteModal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div style="display: none" id="deleteTripId"></div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this trip?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('tripDeleteModal')">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteTrip()">Delete</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="flightDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="flightTitleDeleteModal">Delete confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="closeModal('flightDeleteModal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div style="display: none" id="deleteFlightId"></div>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this flight?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal('flightDeleteModal')">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteFlight()">Delete</button>
            </div>
        </div>
    </div>
</div>

</body>
<script th:src="@{/scripts/userTripDetails.js}"></script>
</html>