<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage applications</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/contents/css/manageApplications.css}">
</head>
<body>

<div class="text-light bg-dark">
  <div class="tripApplication">
    <span style="cursor: pointer" onclick="adminHome()">Trip Application</span>
  </div>
  <div class="loggedUser">
    <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
    <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
  </div>
</div>


<div th:if="${!tripList.isEmpty()}">
  <div class="text-center mb-3 mt-4 tripDetails">
    Trip applications
  </div>
  <div class="py-2 mx-4">
    <table class="table">
      <thead class="bg-success text-white">
      <tr>
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th>Departure</th>
        <th>Arrival</th>
        <th>Reason</th>
        <th>User</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="trip : ${tripList}" th:id="'tr'+${trip.getId()}">
        <td th:text="${trip.getDescription()}"/>
        <td th:text="${trip.getFrom()}"/>
        <td th:text="${trip.getTo()}"/>
        <td th:text="${trip.getDeparture()}"/>
        <td th:text="${trip.getArrival()}"/>
        <td th:text="${trip.getReason().getDescription()}"/>
        <td th:text="${trip.getUser().getEmail()}"/>
        <td>
          <button style="padding: 5px;font-size: 10px;line-height: 1" class="btn btn-success" th:onclick="|approve('${trip.getId()}')|">&nbsp;Approve&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;
          <button style="padding: 5px;font-size: 10px;line-height: 1" class="btn btn-danger" th:onclick="|disapprove('${trip.getId()}')|">Disapprove</button>
        </td>
      </tr>
      </tbody>


    </table>
  </div>

</div>
<div id="error" class="text-center" style="color: red"></div>

<div class="container" th:if="${tripList.isEmpty()}">
  <div class="text-center mb-3 mt-4 tripDetails">
    Trip applications
  </div>
  <div class="text-center">
    You don't have any applications
  </div>
</div>
</body>
<script th:src="@{/scripts/manageApplications.js}"></script>
</html>