<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Flight</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" th:href="@{/contents/css/userTripEdit.css}">
    <style>
        .required::after{
            content: '*';
            color: red;
        }
        .table-condensed {
            width: 250px;
            height:240px;
        }
    </style>
</head>
<body>
<div class="text-light bg-dark">
    <div class="tripApplication" onclick="userHome()">
        <span style="cursor: pointer" onclick="userHome()">Trip Application</span>
    </div>
    <div class="loggedUser">
        <span th:text="${loggedUser.getFirstName()} +' '+${loggedUser.getLastName()}"></span></br>
        <span style="cursor: pointer" onclick="logout()">&nbsp;&nbsp;Log out</span>
    </div>
</div>
<div class="text-center mb-3 mt-4 tripDetails">
    Flight details
</div>
<div class="container border border-success">
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty required"><b>From:</b></span></br>
            <input  class="form-control" type="text" id="flightFrom" maxlength="30">
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty required"><b>To</b></span></br>
            <input  class="form-control" type="text"  id="flightTo" maxlength="30">
        </div>
    </div>
    <div class="row pl-5 ml-5 mb-3">
        <div class="col">
            <span class="tripStaticProperty required"><b>Departure date:</b></span></br>
            <input  class="form-control datepicker"   onkeydown="return false"  type="text" id="flightDeparture">
        </div>
        <div class="col ml-5 pl-5">
            <span class="tripStaticProperty required"><b>Arrival date:</b></span></br>
            <input  class="form-control datepicker"  onkeydown="return false"  type="text" id="flightArrival">
        </div>
    </div>
</div>
</br>
<div class="text-center">
    <button class="btn btn-outline-success" type="button" th:onclick="|saveFlight('${trip.getId()}')|">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="btnText">Add flight</span>
    </button>
</div>
<br>
<div id="error" class="text-center" style="color:red;">
</div>



</br>

<div class="footer">

</div>
</body>
<script th:src="@{/scripts/userFlightCreate.js}"></script>
</html>