<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/contents/css/login.css}">
    <style>

    </style>

</head>
<body>
<div class="login-form">
    <h2 class="text-center">Log in to your account</h2>
    <form>
        <div class="avatar">
            <img  th:src="@{/contents/images/user.png}"/>
        </div>

        <div class="form-group required">
            <input type="email" id="email" class="form-control input-lg" name="email" autofocus autocomplete="off" placeholder="E-mail" required="required">
        </div>
        <br>
        <div class="form-group">
            <input type="password" id="password" class="form-control input-lg" autocomplete="off" name="password" placeholder="Password" required="required">
        </div>
        <br>
        <div class="form-group  text-center">
            <button type="button" class="btn btn-primary btn-lg" onclick="login()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Log in</span>
            </button>
            <div id="error" style="color: red;margin-top: 10px;"></div>
        </div>
    </form>

</div>
</body>
<script th:src="@{/scripts/login.js}"></script>
</html>